body {
    margin-left: 20px;
}

h3 {
    text-align: left;
    font-family: Asap, sans-serif;
    font-weight: bold;

}

#start-button:hover {
    cursor: pointer;
    background-color:#f0a7a2;
}

#start-button {
    display: block;
    outline: none;
    text-align: center;
    border: none;
    width: 85px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-family: Asap, sans-serif;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 10px;
}


.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: red;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}