@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#price-finder {
  width: 60vw;
  margin: 120px auto 0;
}
#price-finder > div {
  margin: 40px 0;
}

.price-title #final-price {
  text-align: center;
}
.price-title #final-price::after {
  content: " €";
}

.range__container .people-sum {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.range__container .people-sum h4 {
  margin: 0;
}
.range__container .people-sum h4:first-child {
  margin-right: 10px;
}
.range__container .ranger {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.range__container .slider {
  -webkit-appearance: none;
  background-color: linear-gradient(90deg, rgb(0,183,255) 10%, rgb(0,89,255) 10%);
  width: 80%;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 1px rgba(1, 1, 116, 0.788);
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(135, 250, 3);
  border-radius: 50%;
  cursor: pointer;
}
.range__container .ranger .people {
  font-size: 13px;
  color: blue;

}

.range__container .ranger #value-range {
  position: absolute;
}

.slider::after {
  content: "1000";
  color: black;
  font-size: 1rem;
  position: absolute;
  left: 66%;
  top: 20.5%;
}

.slider::before {
  content: "25";
  color: black;
  font-size: 1rem;
  position: absolute;
  top: 20.5%;
}

.price-boxes__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-boxes__container .boxes-left, .price-boxes__container .boxes-right {
  width: 45%;
}
.price-boxes__container .boxes-left .box, .price-boxes__container .boxes-right .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.price-boxes__container .boxes-left .box input, .price-boxes__container .boxes-right .box input {
  margin-right: 20px;
  align-self: center;
}
.price-boxes__container .boxes-left .box .text h3, .price-boxes__container .boxes-left .box .text h5, .price-boxes__container .boxes-right .box .text h3, .price-boxes__container .boxes-right .box .text h5 {
  margin: 12px 0;
}
.price-boxes__container .boxes-left .box .text p, .price-boxes__container .boxes-right .box .text p {
  font-size: 0.8em;
}
.price-boxes__container .boxes-left .box .text .box-price::after, .price-boxes__container .boxes-right .box .text .box-price::after {
  content: " €";
}