
// ############ Full Site
body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}
// ############ Full Site

#price-finder {
  width: 60vw;
  margin: 120px auto 0;

  > div {
    margin: 40px 0;
  }
}

// ############ Final Price
.final-price__container {
  #final-price {
    text-align: center;

    &::after {
      content: ' €';
    }
  }
}
// ############ Final Price


// ############ Range
.range__container {
  .people-sum {
    display: flex;
    flex-direction: row;
    justify-content: center;

    h4 {
      &:first-child {
        margin-right: 10px;
      }
      
      margin: 0;
    }
  }

  .ranger {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
      margin: 0 20px;
      width: 90%;
    }
  }
}
// ############ Range


// ############ Checkboxes
.price-boxes__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .boxes {
    &-left, &-right {
      width: 45%;

      .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;

        input {
          margin-right: 20px;
          align-self: center;
        }

        .text {
          h3, h5 {
            margin: 12px 0;
          }
          
          p {
            font-size: 0.8em;
          }

          .box-price {
            &::after {
              content: ' €';
            }
          }
        }
      }
    }
  }
}
// ############ Checkboxes
