@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #a9cbee;
}

#price-finder {
  background: #aea3d8;
  width: 60vw;
  margin: 120px auto 0;
  padding: 10px 15px 10px 15px;
  border-radius: 2%;
}
#price-finder > div {
  margin: 110px 0;
}

#user-counter {
  position: absolute;
  top: 100px;
  left: 650px;
  font-weight: bold;
}

.final-price__container{
    position: relative;
    left: 420px;    
    border-radius: 5px;
    height: 90px;
    width: 390px;
}

.price-title #final-price {
  margin-top: 30px;
  text-align: center;
}
.price-title #final-price::after {
  content: " €";
}

.range {
    position: relative;
    left: 250px;
    height: 100px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 0 120px 0 120px;
}

.range .sliderPeople {
    position: relative;
    width: 100%;
    left: 34px;
}

.range .sliderPeople span{
    position: absolute;
    height: 45px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    top: -80px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s eaase-in-out;
    z-index: 2;
    
}

#people-range { 
  line-height: 5;
  width: 48;
}

.range .sliderPeople span.show{
  transform: translateX(-50%) scale(1);
  font-weight: bold;

}

.range .sliderPeople span::after{
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    background:  hsl(0, 2%, 35%);
    left: 15;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
    border: 3px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #e76c3b;
}

.range .field .value.left{
    left: -5px;
}

.range .field .value.right{
    right: -35px;
}

.range .field input{
    -webkit-appearance: none;
    height: 5px;
    width: 90%;
    background: #ddd;
    border-radius: 8px;
    outline: none;
    border: none;
}

#myRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 70%;
    max-width: 500px;
    outline: none;
    background: transparent;
    /* border-radius: 50%;
    border: 1px solid #fb8200; */
    cursor: pointer;
}

#myRange::focus, :active, ::-moz-focus-inner, ::-moz-focus-outer{
  border: 0;
  outline: none;
}

/* #myRange::-moz-range-thumb{
  border: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url(https://storage.googleapis.com/pw-stuff/thumbs-sprite.png);
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
  cursor: pointer;
}

#myRange::-moz-range-thumb:active{
  background-position: 50% 0px;
  transform: scale(2.0) rotateZ(var(--thumb-rotate, 10deg));
}

#myRange::-moz-range-track{
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
} */

#myRange::-moz-range-progress{
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}

#myRange::-webkit-slider-thumb{
  border: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url(https://storage.googleapis.com/pw-stuff/thumbs-sprite.png);
  background-position: 0 0;
  background-size: cover;
  transform: scale(1.8) rotateZ(var(--thumb-rotate, 0deg));
  cursor: pointer;
  margin-top: -3px;
  -webkit-appearance: none;
}

#myRange::-webkit-slider-thumb:active{
  background-position: 100% 0px;
  transform: scale(2.2) rotateZ(var(--thumb-rotate, 10deg))
}

#myRange::-webkit-slider-runnable-track{
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-appearance: none
}

.range .sliderValue {
  position: relative;
  width: 100%;
  left: 34px;
}

.range .sliderValue span{
  position: absolute;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  top: -36px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s eaase-in-out;
  line-height: 130px;
  z-index: 2;
  
}

.range .sliderValue span.show{
  transform: translateX(-50%) scale(1);
  font-weight: bold;
}

.range .sliderValue span::after{
  position: absolute;
  content: "";
  margin-top: 28px;
  height: 80px;
  width: 80px;
  background:  #fb8200;
  left: 25%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  border: 3px solid #fff;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

#user-price-counter {
  position: absolute;
  top: 250px;
  left: 580px;
  font-weight: bold;
}

.price-boxes__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .price-boxes__container .boxes-left, .price-boxes__container .boxes-right {
    width: 45%;
  }
  .price-boxes__container .boxes-left .box, .price-boxes__container .boxes-right .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .price-boxes__container .boxes-left .box input, .price-boxes__container .boxes-right .box input {
    margin-right: 20px;
    align-self: center;
  }
  .price-boxes__container .boxes-left .box .text h3, .price-boxes__container .boxes-right .box .text h3 {
    margin: 5px 0;
  }

  .price-boxes__container .boxes-left .box .text h5, .price-boxes__container .boxes-right .box .text h5 {
    margin: 5px 10;
  }
  .price-boxes__container .boxes-left .box .text p, .price-boxes__container .boxes-right .box .text p {
    font-size: 0.8em;
  }
  .price-boxes__container .boxes-left .box .text .box-price::after, .price-boxes__container .boxes-right .box .text .box-price::after {
    content: " €";
  }

.box-margin {
  position: relative;
  left: 25px;
  height: 20px;
  width: 65px;
  background: #fff;
  border-radius: 10px;
  padding: 10 10px 10 15px;
}

#pay-button:hover {
  cursor: pointer;
  background-color:#e0ecb6;
}

#pay-button {
  position: relative;
  left: 42px;
  height: 30px;
  width: 100px;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  margin-top: -550px;
}

#total-price{
  position: relative;
  left: 62px;
  font-weight: bold;
}

#total-price::after{
  content: " €";
}

