.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  /* rangeslider */
  .ag-calculator_input-wrap .rangeslider--horizontal {
    display: inline-block;
    height: 8px;
    margin-top: 20px;
    background-color: #9099a3;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-calculator_input-wrap .rangeslider__fill {
    background-color: #78bc1e;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-calculator_input-wrap .rangeslider__handle {
    height: 24px;
    width: 24px;
    border: 1px solid #e6e9eb;
    background-image: none;
  
    z-index: 5;
    top: -7px;
  
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .3);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, .3);
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
  }
  .ag-calculator_input-wrap .rangeslider__handle:after {
    display: none;
  }
  .ag-calculator_second-level-wrap .rangeslider--horizontal {
    display: block;
    float: right;
    width: 90%;
  }
  /* /rangeslider */
  
  .ag-base_btn-wrap {
    width: 50%;
    padding: 18px 0 0;
  
    background-color: #F6F8F9;
  }
  .ag-base_btn {
    display: inline-block;
    line-height: .92;
    padding: 20px 40px;
    border: 0;
    background-color: #78bc1e;
  
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #FFF;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-base_btn:hover,
  .ag-base_btn:focus {
    background-color: #5c9017;
  
    text-decoration: none;
    color: #FFF;
  }
  .ag-calculators-block {
    padding: 60px 0;
  
    text-align: center;
  }
  .ag-calculator-block {
    display: block;
    max-width: 528px;
    width: 100%;
    margin: 0 auto 60px;
    background-color: #FFF;
    border: 1px solid #e6e9eb;
  
    -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .06);
    -moz-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .06);
    -o-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .06);
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-calculator_title {
    display: inline-block;
    line-height: 1.33;
    width: 100%;
    padding: 19px 24px;
    border-bottom: 1px solid #e6e9eb;
  
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: #4b545c;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-calculator_input-wrap {
    display: inline-block;
    width: 100%;
    padding: 15px 24px;
    text-align: left;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    position: relative;
  }
  .ag-calculator_label {
    line-height: 1.29;
    margin-top: 14px;
    margin-bottom: 0;
  
    font-weight: bold;
    font-size: 14px;
    color: #4b545c;
  }
  .ag-calculator_label-2 {
    margin-left: 50px;
  }
  .ag-calculator_text-input {
    float: right;
    line-height: 1.5;
    width: 60px;
    padding: 9px 8px;
    border: 1px solid #d3d8dc;
    background-color: #FFF;
  
    outline: 0;
  
    font-size: 16px;
    color: #4b545c;
  
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .12);
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-calculator_percent {
    display: inline-block;
    line-height: 1.43;
  
    font-size: 14px;
    color: #9099a3;
  
    position: absolute;
    left: 24px;
    bottom: 8px;
  }
  .ag-calculator_second-level-wrap {
    display: none;
  }
  .ag-calculator_more-levels {
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    padding: 10px 24px;
  
    cursor: pointer;
  
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    color: #149ecc;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-calculator_more-levels:hover .ag-calculator_levels {
    background-color: #f5f5f5;
  }
  .ag-calculator_levels {
    display: inline-block;
    line-height: 24px;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #e6e9eb;
  
    font-size: 16px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .ag-calculator_levels:before {
    display: inline-block;
    line-height: 22px;
    margin-right: 10px;
  
    vertical-align: top;
    text-align: center;
    font-size: 22px;
  }
  .ag-calculator_removed-levels:before {
    content: "-";
  }
  .ag-calculator_added-levels:before {
    content: "+";
  }
  .ag-calculator_removed-levels {
    display: none;
  }
  .js-ag-opened .ag-calculator_removed-levels {
    display: inline-block;
  }
  .js-ag-opened .ag-calculator_added-levels {
    display: none;
  }
  .ag-calculator_radio-box {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    margin-top: 12px;
  
    position: relative;
  }
  .ag-calculator_radio-box input[type=radio] {
    visibility: hidden;
  
    position: absolute;
  }
  .ag-calculator_radio-box input[type=radio]:checked + label {
    background-color: #4b545c;
    color: #FFF;
  }
  .ag-calculator_radio-label {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-basis: 0;
    -webkit-flex-basis: 0;
  }
  .ag-calculator_radio-label {
    line-height: .92;
    padding: 16px 10px;
    border: 1px solid #d3d8dc;
    background-color: #e6e9eb;
  
    cursor: pointer;
  
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: #9099a3;
  }
  .ag-calculator_radio-label:nth-last-of-type(1) {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
  .ag-calculator_radio-label:nth-of-type(1) {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  .ag-calculator_results-box {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    padding: 25px 24px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-calculator_results-info {
    display: inline-block;
    width: 50%;
    padding: 12px 0 0;
    border-right: 1px solid #e6e9eb;
    background-color: #f6f8f9;
  
    text-align: center;
  }
  .ag-calculator_results-title {
    line-height: 1.29;
  
    font-weight: bold;
    font-size: 14px;
    color: #4b545c;
  }
  .ag-calculator_results-sum {
    font-size: 48px;
    color: #4b545c;
  }
  .ag-calculator_results-currency {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
  
    vertical-align: top;
    font-size: 24px;
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  